{% extends 'user_login/company_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Reschedule Interview{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <h3>Reschedule Interview</h3>
            </div>
            <hr>
            <form method="POST">
                {% csrf_token %}
                <div>
                    <input type="hidden" id="applicant_id" data-application_id="{{ interviewer.application_id }}" value="{{ interviewer.application_id }}" name="applicant_id">
                    <input type="hidden" id="interviewer_id" data-interviewer_id="{{ interviewer.interviewer.id }}" value="{{ interviewer.interviewer.id }}" name="interviewer_id">
                    <span>Interviewer : </span><span>{{ interviewer.interviewer.interviewer.username }}</span>
                </div>
                <p></p>
                <p></p>
                <div>
                    <span>Interview Date : </span><input type="date" name="date" id="date">
                </div>
                <p></p>
                <p></p>
                <div>
                    {{ form|crispy }}
                </div>
                <p></p>
                <p></p>
                <input type="submit" value="Submit" class="btn btn-outline-info">
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock content %}
{% block jquery%}
<script src="{% static 'user_login/js/reschedule_interview.js' %}"></script>
{% endblock jquery%}