{% extends 'user_login/company_base.html' %}
{% block title %}{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin:10px;">
            <h3>Requests for Reschedule</h3>
            {% for reschedule in reschedule_requests %}
                <div class="card">
                    <div class="card-header">
                        <h5>Application ID : {{ reschedule.application_id }}</h5>
                    </div>
                    <div class="card-body">
                        {% if reschedule.interview_type == 1 %}
                        <p>Type Of Interview : HR </p>
                        {% elif reschedule.interview_type == 2 %}
                        <p>Type Of Interview : Technical </p>
                        {% else %}
                        <p>Type Of Interview : Other </p>
                        {% endif %}
                        <hr>
                        <p>Reason : {{ reschedule.reason }}</p>
                        <a type="submit" class="btn btn-outline-info">Reschedule Interview</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

