{% extends 'user_login/user_base.html' %}
{% block title %}User's Page{% endblock title %}
{% block content %}
<div class="'container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div>
                <h3>Change Password page</h3>
            </div>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <div>
                        <span>User : </span><span><b>{{ username }}</b></span><br>
                    </div>
                    <p></p>
                    <div>
                        <span>Old Password : </span><input type="password" name="old_password" placeholder="Old Password" required><br>
                    </div>
                    <p></p>
                    <div>
                        <span>New Password : </span><input type="password" name="new_password" placeholder="New Password" required><br>
                    </div>
                    <p></p>
                    <div>
                        <span>Confirm Password : </span><input type="password" name="password2" placeholder="Confirm Password" required><br>
                    </div>
                    <p></p>
                    <div>
                        <input type="submit" placeholder="Submit"><br>
                    </div>
                    <p></p>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>

        {% for message in messages %}
        <div class="col-md-12">
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}